.container {

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(./imgages/testback.jpg);
      background-size: 100% 100%;
  

      background: url(./images/testback.jpg);
      background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.container_popup {

      /*position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;*/
      background-image: url(./imgages/testback.jpg);
      background-size: 100% 100%;
      width: 400px;
      height: 800px;

      background: url(./images/testback.jpg);
      background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}
