#weather{
	position:absolute;
	top:0px;
	right:0px;
	width:auto;
	background:rgba(0,0,0,.3);
	height:auto;
	color:white;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: fixed;
	background-size: cover
}
#mainContent {
	font-weight: bold;
	color: white;
	text-align: center;
	top:50%;
	font-size: 20vh;
}
#clock{
	background:radial-gradient(circle at center, black 0, transparent 100%);
}

/** TODO APP  **/

#todo {
	position: fixed;
	bottom: 0;
	right: 0;
}

#todo_container {
	background: rgba(15,15,15,.925);
	color: #fff;
width: 100%;
box-shadow:  0 0 3px rgba(0,0,0,.1);
margin: 40px auto;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
display: none;
}

.todo_title__nomargin {
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}

.todo_completed {
	color: rgb(128, 128, 128);
	text-decoration: line-through;
}

.todo_input {
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	font-size: 18px;
	color: #2980b9;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	border: none;
	border: 1px solid rgb(28, 27, 28);
	display: none;
}
#todo {
	width: 15%;
}
.todo_input:focus{
	outline: none;
	border: 1px solid rgb(84, 52, 84);
}

.todo_list__nostyle {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todo_item{
	height: 40px;
	line-height: 40px;
}
.todo_item:nth-child(2n) {
	background: rgba(255, 255, 255, 0.05);
}

#fetchTodos {
	color: white;
    font-size: 27px;
    font-family: helvetica;
}

.todo_X {
	margin-right: 20px;
background: rgba(255, 0, 0, 0.8);
height: 40px;
text-align: center;
color: white;
display: inline-block;
width: 0px;
opacity: 0;
transition: .2s linear;
}


/** TODO APP End  **/

.icon-plus  {
	float: right;
	margin: 2% 0 2% 0;
}
.icon-trash{
	width: 0;
}

.icon-trash:hover {
	color: grey;
	transition: .5s linear;
}

li:hover .todo_X {
	width: 40px;
	opacity: 1;
}
